* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: red; */
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;

}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}
/* global classes */

.container
{
    max-width: 1220px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    /* padding: 20px 0;20left and right ,top and bottom */

}

/* styling navigation */
header{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: white;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header nav ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-weight: 500;
    
}
header nav ul a{
    color: #1b1b1b;
}
header nav ul a:hover{
    color: #87d20e;
    text-decoration: underline;
}
header .navlogo span{
    color: rgb(178, 24, 80);
}

@media screen and (max-width:769px) {
    header nav ul{
        display: none;
    }
}

/* 1200px */

/* 998px */

/* 768px --Tablets*/

/* 540px --Mobile phones*/ 